{{- /* Custom schema: WebSite/SearchAction + Organization + FAQPage + BreadcrumbList + Article */ -}}

{{- /* Homepage: WebSite + Organization */ -}}
{{ if .IsHome }}
{{- $searchTarget := printf "%ssearch/?q={query}" site.BaseURL -}}
{{- $faviconUrl := (site.Params.assets.favicon | default "favicon.ico") | absURL -}}
{{- $schema := dict
  "@context" "https://schema.org"
  "@graph" (slice
    (dict
      "@type" "WebSite"
      "name" site.Title
      "url" site.Home.Permalink
      "description" (site.Params.description | default site.Title)
      "potentialAction" (dict
        "@type" "SearchAction"
        "target" $searchTarget
        "query-input" "required name=query"
      )
    )
    (dict
      "@type" "Organization"
      "name" site.Title
      "url" site.Home.Permalink
      "description" (site.Params.description | default site.Title)
      "logo" (dict
        "@type" "ImageObject"
        "url" $faviconUrl
      )
    )
  )
-}}
<script type="application/ld+json">
{{- $schema | jsonify | safeJS -}}
</script>
{{- end }}

{{- /* Pages/Sections: BreadcrumbList */ -}}
{{- if (or .IsPage .IsSection) -}}
{{- $crumbs := slice -}}
{{- $segments := (split (trim (replace (.RelPermalink) (site.LanguagePrefix) "" ) "/") "/") -}}
{{- $path := "" -}}
{{- range $i, $s := $segments -}}
  {{- if gt (len $s) 0 -}}
    {{- $path = printf "%s/%s" $path $s -}}
    {{- $pg := site.GetPage $path -}}
    {{- if $pg -}}
      {{- $crumbs = $crumbs | append (dict "position" (add $i 1) "name" $pg.Title "item" $pg.Permalink) -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- if gt (len $crumbs) 0 }}
{{- $items := slice -}}
{{- range $crumbs -}}
  {{- $items = $items | append (dict "@type" "ListItem" "position" .position "name" .name "item" .item) -}}
{{- end -}}
{{- $breadcrumbSchema := dict "@context" "https://schema.org" "@type" "BreadcrumbList" "itemListElement" $items -}}
<script type="application/ld+json">
{{ $breadcrumbSchema | jsonify | safeJS -}}
</script>
{{- end }}
{{- end -}}

{{- /* Article for pages */ -}}
{{- if .IsPage }}
{{- $faviconUrl := (site.Params.assets.favicon | default "favicon.ico") | absURL -}}
{{- $articleSchema := dict
  "@context" "https://schema.org"
  "@type" "Article"
  "headline" (.Title | plainify)
  "name" (.Title | plainify)
  "description" ((.Description | default .Summary) | plainify | truncate 200)
  "inLanguage" (.Language.Lang | default "en")
  "url" .Permalink
  "datePublished" (.PublishDate.Format "2006-01-02T15:04:05Z07:00")
  "dateModified" (.Lastmod.Format "2006-01-02T15:04:05Z07:00")
  "publisher" (dict
    "@type" "Organization"
    "name" site.Title
    "logo" (dict "@type" "ImageObject" "url" $faviconUrl)
  )
  "mainEntityOfPage" (dict "@type" "WebPage" "@id" .Permalink)
-}}
{{- with (.Params.author | default site.Params.author) -}}
  {{- $articleSchema = merge $articleSchema (dict "author" (dict "@type" "Person" "name" .)) -}}
{{- end -}}
<script type="application/ld+json">
{{ $articleSchema | jsonify | safeJS -}}
</script>
{{- end }}

{{- /* FAQPage from front matter faq: [{question, answer}] */ -}}
{{- with .Params.faq -}}
{{- $validFaqs := slice -}}
{{- range . -}}
  {{- if and .question .answer -}}
    {{- $validFaqs = $validFaqs | append . -}}
  {{- end -}}
{{- end -}}
{{- if gt (len $validFaqs) 0 }}
{{- $faqItems := slice -}}
{{- range $validFaqs -}}
  {{- $faqItems = $faqItems | append (dict "@type" "Question" "name" .question "acceptedAnswer" (dict "@type" "Answer" "text" .answer)) -}}
{{- end -}}
{{- $faqSchema := dict "@context" "https://schema.org" "@type" "FAQPage" "mainEntity" $faqItems -}}
<script type="application/ld+json">
{{ $faqSchema | jsonify | safeJS -}}
</script>
{{- end }}
{{- end -}}
